body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#poster-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.poster-group {
    text-align: center;
}

#drawing-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

canvas {
    border: 1px solid black;
    margin-top: 20px;
}

.poster-image {
    width: 100px;
    height: auto;
    cursor: pointer;
}

#background-image {
    width: 300px;
    height: auto;
    cursor: pointer;
}

